<div class="homeHead">
    <button class="hamburger hamburger--spin" type="button" aria-label="Menu" aria-controls="navigation">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
            <ul class="homeNav">
                    <li><a class="designLink active" href="/#design">Design</a></li>
                    <li><a href="/photography/">Photography</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a target="_blank" href="/BenWeinstein-Resume.pdf">Resume</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
</div>