<div class="row py-0 py-md-7 justify-content-center reveal load-hidden">
   <div style="max-width: {{include.width}};" class="col mx-0 mx-md-6"><div class="row">
    <div class="col-lg-6 py-4 py-md-0">
      <figure class="lozad">
        <a href="{{ include.path1 }}">
          <img src="{{ include.path1 }}" alt="{{ include.alt1 }}" />
        </a>
        <figcaption>{{ include.caption1 }}</figcaption>
      </figure>
    </div>
    <div class="col-lg-6 py-4 py-md-0">
        <figure class="lozad">
          <a href="{{ include.path2 }}">
            <img src="{{ include.path2 }}" alt="{{ include.alt2 }}" />
          </a>
          <figcaption>{{ include.caption2 }}</figcaption>
        </figure>
      </div>
    </div>
</div>
    </div>
  