/* Page */
 
.pageWrap {
  min-height: 100vh;
}

.contactPage {
  .big {
    @include rem(font-size, 40px)
    @include rem(line-height, 40px)
    font-weight: 700;
  }
  .small {
    @include rem(font-size, 15px)
    a {
      color: skyblue;
      @include transition(all, 200ms, linear);
      &:hover {
        text-decoration: none;
        color: $darkTxt;
      }
    }
  }
}