/* Page */

.pageWrap {
  min-height: 100vh;
}

.contactPage {
  .big {
    letter-spacing: -1.8px;
    @include rem(font-size, 55px);
    @include rem(line-height, 50px);
    font-weight: 900;
    @include media-breakpoint-down(sm) {
      text-align: center;
      @include rem(font-size, 30px) @include rem(line-height, 30px);
    }
  }
  .small {
    @include rem(font-size, 15px) @include media-breakpoint-down(sm) {
      text-align: center;
    }
    a {
      color: skyblue;
      @include transition(all, 200ms, linear);
      &:hover {
        text-decoration: none;
        color: $darkTxt;
      }
    }
  }
}
