/* Home Page */

#homeHero  {
  height: calc(100vh - 80px);
  .rowHero {
    align-items:center;
    @include rem(padding, 150px 0 0 0 );
  }
  .headline {
    font-weight: 900;
    font-size:2.5rem;
    line-height: 2.5rem;
    float:right;
  }
  .ben {
    width:300px;
    height:300px;
    border-radius: 150px;
    background-image: url(/img/ben.jpg);
    background-size: cover;
    margin-left:100px; 
  }
}

#homePortfolio {
  @include rem(margin-bottom, 150px);
  .controls {
    margin-bottom: 3rem;
    .mixitup-control-active {
      border-bottom: 2px solid $linkGreen;
    }
    button {
      color:black;
      font-size:1rem;
      margin-left:2.5rem;
      font-weight:700;
      border:none;
      padding: 0 0;
      outline:none;
      
      &:hover {
        color: $linkGreen;
      }
    }
  }
  .item {
    a {
      cursor: pointer;
      text-decoration: none;
    }
    @include rem(margin-bottom, 30px);
    .details{
      color:black;
      font-weight: 700;
      @include rem(font-size, 15px);
      @include rem(padding, 15px 0);
    }
  }
}

