<!DOCTYPE html>
<html>
  <head>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-664775-20"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-664775-20");
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
    </title>
    <meta
      name="description"
      content="{% if page.exerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
    />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@publisher_handle">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.exerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:creator" content="@_BenWhere">
    <!-- Twitter Summary card images must be at least 120x120px -->
    <meta name="twitter:image" content="{% if page.hero %}{{ site.url }}{{ page.hero }}{% else %}]{% endif %}">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:image" content="% if page.hero %}{{ site.url }}{{ page.hero }}{% else %}]{% endif %}" />
    <meta property="og:description" content="{% if page.exerpt %}{{ page.exerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:site_name" content="{{ site.title }}" />

    <link rel="stylesheet" href="{{ root }}/css/main.css" />
    <link
      rel="canonical"
      href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap" rel="stylesheet">

  </head>
  <body>
    {{ content }} {% include footer.html %}
    <script src="{{ root }}/js/dist/app.bundle.js"></script>
  </body>
</html>
