---
layout: default
---
{% include homeNav.html %}
<section class="reveal up load-hidden" id="homeHero">
  <div class="container-full">
    <div class="container">
      <div class="row rowHero">
        <div class="col-lg-6 col-md-6">
          <div class="headline">
            Hello! My name’s Ben.<br/>I’m a graphic designer<br/>& web developer. Also<br/>know as
            a <span class="uniLink">unicorn<div class="uBar"></div></span>.
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="ben">
            <img class="img-fluid" src="/img/ben-1.jpg" width="420" height="420">
            <div class="benUni vHidden"><img class="img-fluid" src="/img/ben-2.jpg" width="420" height="420"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <div class="arrow bounce reveal up load-hidden">
          <div class="fa fa-arrow-down"></div>
  </div>
</section>
  <section class="reveal up load-hidden" id="Design">
<div class="container">
  <!-- <div class="row controls">
    <div class="col-xl-11 col-lg-12 mr-auto ml-auto">
        <button type="button" data-mixitup-control data-filter="all">All</button>
        <button type="button" data-mixitup-control data-filter=".brand">Brand & Marketing</button>
        <button type="button" data-mixitup-control data-filter=".ui">UI</button>
        <button type="button" data-mixitup-control data-filter=".web">Web</button>
        
    </div>
  </div> -->

  <div class="row items">
 <div class="col-xl-11 col-lg-12 mr-auto ml-auto"><div id="allItems" class="row">


    <div class="col-lg-4 col-sm-6 mix item web">
        <a href="/ck-home/">
          <div class="position-relative">
        <img src="/img/icons/ck-home.jpg">
        <div class="overlay"></div>
      </div>
        <div class="details">Credit Karma Homepage</div>
      </a>
      </div>
    
    <div class="col-lg-4 col-sm-6 mix item brand">
      <a class="" href="/credit-karma-email-design">
        <div class="position-relative">
      <img src="/img/icons/moving-email.jpg">
      <div class="overlay"></div>
    </div>
      <div class="details">Credit Karma Email</div>
    </a>
    </div>
    
    <div class="col-lg-4 col-sm-6 mix item brand">
        <a class="" href="/ck-sandiego-outdoor/">
          <div class="position-relative">
      <img src="/img/icons/san-diego-oudoor.jpg">
      <div class="overlay"></div>
    </div>
      <div class="details">Credit Karma Outdoor Ads</div>
      </a>
    </div>
    
    <div class="col-lg-4 col-sm-6 mix item brand">
        <a class="" href="/ck-tax-social-media">
          <div class="position-relative">
      <img src="/img/icons/tax-launch-ad.jpg">
      <div class="overlay"></div>
    </div>
      <div class="details">Tax Filing Social Media Ad</div>
    </a>
    </div>


  <div class="col-lg-4 col-sm-6 mix item ui">
      <a href="/hi5-gift-store/">
        <div class="position-relative">
      <img src="/img/icons/hi5-store.jpg">
      <div class="overlay"></div>
    </div>
      <div class="details">hi5 Gift Store</div>
    </a>
    </div>
    
    <div class="col-lg-4 col-sm-6 mix item brand">
        <a class="" href="/engineering-blog-editorial">
          <div class="position-relative">
      <img src="/img/icons/eng-blog.jpg">
      <div class="overlay"></div>
    </div>
      <div class="details">Engineering Blog Editorial</div>
      </a>
    </div>
    
    <div class="col-lg-4 col-sm-6 mix item brand">
        <a class="" href="/us-first">
          <div class="position-relative">
      <img src="/img/icons/schecking.jpg">
      <div class="overlay"></div>
    </div>
      <div class="details">US First Display Ads</div>
      </a>
    </div>
    
    <div class="col-lg-4 col-sm-6 mix item web">
      <a href="/ck-careers">
        <div class="position-relative">
      <img src="/img/icons/ck-careers-2.jpg">
      <div class="overlay"></div>
    </div>
      <div class="details">Credit Karma Careers</div>
    </a>
    </div>
    
    
    <div class="col-lg-4 col-sm-6 mix item brand">
      <a href="/status/">
        <div class="position-relative">
      <img src="/img/icons/status.jpg">
      <div class="overlay"></div>
    </div>
      <div class="details">Status.im Social Media Ads</div>
    </a>
    </div>



      <div class="col-lg-4 col-sm-6  mix item brand">
          <a class="" href="/hi5-networks">
            <div class="position-relative">
          <img src="/img/icons/hi5.jpg">
          <div class="overlay"></div>
        </div>
          <div class="details">hi5 Networks Rebranding</div>
        </a>
        </div>

      <div class="col-lg-4 col-sm-6 mix item ui">
        <a href="/app-tab/">
          <div class="position-relative">
        <img src="/img/icons/app-tab.jpg">
        <div class="overlay"></div>
      </div>
        <div class="details">App Tab</div>
      </a>
      </div>

  </div>
  </div>
</div>
</div>
  </section>
